/*CSS Styling*/

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.text-center{
    text-align:center;
}

.main-container{
    box-sizing:border-box;
    height: 262.21px;
    width: 200px;
    border: 2px;
    border-style: solid;
    background-color: wheat;
    border-color: aquamarine;
}



.block-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:coral;
    background-color: cornflowerblue;
}

.pizza{
    color:yellow;
    background-color:red;
}

.ice-cream{
    color:pink;
    background-color:purple;
}

.coffee{
    color:brown;
    background-color:burlywood;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
}

.descr{
  color: cyan;
  background-color: darkturquoise;
}


.ingr{
    color:gold;
}

.steps{
    color:cadetblue
}

ol{
    color:green;
}

ul{
    color:blueviolet;
}

.button{
    width: auto;
    display: inline-block;
    color:yellow;
    background-color: lightcoral;
    /* width: 50px; */
    /* height: 40px; */
    height:auto;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 700;
}