/*CSS Styling*/

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.text-center{
    text-align:center;
}

.main-container{
    box-sizing:border-box;
    /* height: 262.21px; */
    height: 350px;
    width: 260px;
    /* width:auto; */
    border: 2px;
    border-style: solid;
    margin-top: 150px;
    background-color: wheat;
    border-color: burlywood;
}



.block-center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

h1{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:coral;
    background-color: cornflowerblue;
}

.pizza{
    color:rgb(255, 136, 0);
    background-color:wheat;
}

.ice-cream{
    color:purple;
    background-color:pink;
}

.coffee{
    color:brown;
    background-color:burlywood;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
}

.descr{
  color: cyan;
  background-color: darkturquoise;
}


.ingr{
    color:orange;
}

.steps{
    color:cadetblue
}

ol{
    color:green;
}

ul{
    color:blueviolet;
}

.button{
    width: auto;
    display: inline-block;
    color:rgb(255, 208, 108);
    background-color: lightcoral;
    /* width: 50px; */
    /* height: 40px; */
    height:auto;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: none;
}

